/*COLOR_________________________________________________________________________________________*/
.color{
    background-color: #000000;
}
.filtrosDesplegable{
    background-color: #000000;
}
section.contenido{
    background-color: #FFFFFF;
}
header{
    background-color: #FFFFFF;
}

footer{
    background-color: #000000;
}

h5.pieInfo{
    color: #FFFFFF;
}

.subtitulo{
    background-color: #FFFFFF;
}

.navbar-dark .navbar-toggler{
    border-color: transparent;
}

button.negro{
    background-color: #000000;
    border-color: #000000;
}