/*FILTROS----------------------------------*/
section.filtros{
    margin: 0px 0px 0px 0px;
}

.checkBox{
    margin: 10px 10px 10px 10px;
}

p.precio{
    text-align: center;
}

.botonFiltros{
    align-items: center;
    justify-content: center;
}