/*FLEXBOX---------------------------------- */

img{
    width: 50%;
    height: 50%;
    padding: 0px;
}

div.articulos{ /*row*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

div.articulo{ /*col*/
    padding: 10px;
}